@model StudentInformationSystem.Entities.ViewModels.StudentModel

@{
    ViewBag.Title = "ViewStudentInfo";
}

<h2>ViewStudentInfo</h2>

<fieldset>
    <legend>StudentModel</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.StudentCode)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StudentCode)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FirstName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FirstName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LastName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ContactNumber)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ContactNumber)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EmailAddress)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EmailAddress)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateOfBirth)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateOfBirth)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Address)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Address)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.StateName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StateName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CityName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CityName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DepartmentName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DepartmentName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CollegeName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CollegeName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Semester)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Semester)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateOfJoining)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateOfJoining)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
