@model IEnumerable<StudentInformationSystem.Entities.ViewModels.StateModel>

@{
    ViewBag.Title = "ViewStates";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>View States</h2>

<br />
<p>
    @Html.ActionLink("Add New City", "AddNewCity","",new { @class="btn btn-default", style = "text-decoration:none"})
</p>
<table class="table table-condensed table-hover table-bordered table-striped">
    
    <tr>
        @*<th>
            @Html.DisplayNameFor(model => model.StateID)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.StateName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
       @* <td>
            @Html.DisplayFor(modelItem => item.StateID)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.StateName)
        </td>
        <td>
         @*   @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |*@
            @Html.ActionLink("View Cities", "ViewCities", new { StateID=item.StateID },new { @class = "btn btn-default", style = "text-decoration:none" })
          @*  @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
        </td>
    </tr>
}

</table>
@*<div>
    @Html.ActionLink("Back", "StudentInfo", "Home", "", new { @class = "btn btn-default", style = "text-decoration:none" })
</div>*@
